
nav {
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.subtitle{
    font-size: 1.4em;
    font-weight: 800;
    margin-top: 8px;
    margin-left: 4px;
    text-transform: capitalize;
}

.content{
    padding-top: 2px;
    margin-top: 1px;
    font-weight: 400;
    text-align: justify;
}

#bookingad{
   text-align: center;
}

.bookingaff{
    display: inline-block;
}

@media only screen and (max-width: 728px) {

    #bookingad{
        width: 340px;
        margin-left: 20px;
     }    
    .bookingaff{
        display: flex;
        width: 100%;
    }
  }

  .card-footer.card-green{
      background-color:rgba(0, 250, 0, 0.5);
  }

  .card-footer.card-red{
    background-color: rgba(250,0,0, 0.5);
}

.card-footer.card-yellow{
    background-color: rgba(250,250,0, 0.7);
}
